* {
  box-sizing: border-box;
  text-align: center;
}

input {
  width: 25% !important;
  margin-right: 0.25em !important;
  margin-left: 0.25em !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.sortable {
  cursor: pointer;
}

.sortable:hover {
  background-color: #99ffdd;
}

.sorted {
  background-color: #ccffee;
}

.delBtn {
  border-radius: 15px;
  border: none;
  background-color: #ff4d2e;
}

.delBtn:hover {
  background-color: #ff3814;
  cursor: pointer;
}
